.root-panel
{
    align-content:              start;
    overflow:                   hidden;
}

.anchor-point
{
    position:                   absolute;
    width:                      0px;
    height:                     0px;
}

.scrollable-panel
{
    margin:                     25px;
    display:                    grid;
    grid-template-columns:      repeat(50, 200px);
    grid-gap:                   10px;
    justify-content:            start;
    overflow:                   hidden;
}

