<div id="root">
	<div id="root-title">
	    <div id="root-title-name">
	        {{article.fProductType}}
	    </div>
	    <div id="root-title-price">
	        <span>€{{article.fPrice}} / {{article.fPriceUnit}}</span>
	    </div>
	</div>
	<div id="root-photo">
		<app-tproduct-photo-frame [urlPhoto]="article.fURLPhotoThumb"></app-tproduct-photo-frame>
	</div>
	<hr id="root-divider"/>
	<div id="root-menu">
		<div><app-tview-details-button [fArticleID]="article.fID"></app-tview-details-button></div>
	    <div><app-tadd-to-cart-button [fArticleID]="article.fID"></app-tadd-to-cart-button></div>
	</div>
</div>

<!--
article.
    fDetailName:    string;     // e.g. "Bluegold"
    fID:            string;     // uid
    fProductType:   string;     // e.g. "Blueberries"
    fPrice:         string;     // money, money, money... must be funny...
    fPriceUnit:     string;     // e.g. "per lb"
    fOriginCountry: string;     // e.g. "USA"
    fURLPhotoThumb: string;     // Thumbnail
    fURLPhoto:      string;     // Large photo
 -->
 
