#root
{
    font-family:            sans-serif;
    border:                 2px #cccccc solid;
    border-radius:          10px;
    height:                 200px;
    width:                  250px;
    margin-left:            25px;
    margin-right:           25px;
    
    transform:              scale(1);
    transition:             transform 0.2s ease;
}

#root:hover
{
    transform:              scale(1.05);
    transition:             transform 0.15s ease;
}

#root-title
{
    background-color:       #cccccc;
    padding:                10px;
    height:                 1.5em;
    display:                flex;
    justify-content:        space-around;
}

#root-title-name
{
    font-size:              1.2em;
    color:                  #3333ff;
    vertical-align:         middle;
}

#root-title-price
{
    background-color:       #3366ff;
    border-radius:          5px;
    color:                  #ffffff;
    width:                  7em;
    height:                 1.8em;
    text-align:             center;
    line-height:            1.5em;
    vertical-align:         middle;
}

#root-title-price > span
{
    vertical-align:         middle;
    line-height:            normal;
}

#root-photo
{
    height:                 100px;
    display:                flex;
    justify-content:        center;
    align-content:          center;
}

#root-divider
{
    border-style:           2px solid #cccccc;
    width:                  230px;;
}

#root-menu
{
    display:                flex;
    justify-content:        space-around;
}