.root-panel
{
    font-family:                  sans-serif;
    border-radius:                10px;
    height:                       320px;
    width:                        400px;
    margin-left:                  25px;
    margin-right:                 25px;

    transform:                    scale(1);
    transition:                   transform 0.2s ease;

    background-color:           #ffebd4;
}

.root-panel:hover
{
    transform:                    scale(1.05);
    transition:                   transform 0.15s ease;
}

.title
{
    position:                     relative;
    background-color:           #d17000;
    padding:                      10px;
    height:                       2.2em;
    line-height:                  2.2em;
    border-top-left-radius:       8px;
    border-top-right-radius:      8px;
}

.title-name
{
    position:                     absolute;
    left:                         20px;
    font-size:                    1.8em;
    font-weight:                  bold;
    color:                      #e4b47d;
}

.title-price-panel
{
    position:                     absolute;
    right:                        20px;
    font-weight:                  bold;
    font-size:                    1.5em;
    background-color:           #ffe7a6;
    border-radius:                5px;
    color:                      #492503;
    width:                        7em;
    height:                       1.5em;
    text-align:                   center;
    line-height:                  1.5em;
}

.title-price-tag
{
    font-weight:                  bold;
    vertical-align:               middle;
    line-height:                  normal;
}

.photo
{
    height:                       200px;
    display:                      flex;
    justify-content:              center;
    align-content:                center;
    margin-bottom:                15px;
}

.divider
{
    border-style:                 2px solid #cccccc;
    width:                        380px;
}

.nav
{
    position:                     relative;
    height:                       3em;
    line-height:                  3em;
}

.nav-details
{
    position:                     absolute;
    left:                         20px;
    bottom:                       22px;
    height:                       2.2em;
    width:                        5em;
}

.nav-add-to-cart
{
    position:                     absolute;
    right:                        20px;
    bottom:                       22px;
    height:                       2.2em;
    width:                        5em;
}
