<div id="root">
	<div id="title">
	    <div id="title-name">{{article.fProductType}}</div>
	    <div id="title-price">€{{article.fPrice}} / {{article.fPriceUnit}}</div>
	</div>
	<div id="photo">
	</div>
	<hr id="divider"/>
	<div id="menu">
		<div><app-tview-details-button></app-tview-details-button></div>
	    <div><app-tadd-to-cart-button></app-tadd-to-cart-button></div>
	</div>
</div>

<!--
article.
    fDetailName:    string;     // e.g. "Bluegold"
    fID:            string;     // uid
    fProductType:   string;     // e.g. "Blueberries"
    fPrice:         string;     // money, money, money... must be funny...
    fPriceUnit:     string;     // e.g. "per lb"
    fOriginCountry: string;     // e.g. "USA"
    fURLPhotoThumb: string;     // Thumbnail
    fURLPhoto:      string;     // Large photo
 -->
 
