#root
{
    border:                 2px #cccccc solid;
    border-radius:          10px;
    height:                 200px;
    width:                  250px;
    margin-left:            25px;
    margin-right:           25px;
}

#title
{
    background-color:       #cccccc;
    padding:                10px;
    height:                 1.5em;
}

#title-name
{
    font-size:              1.2em;
    font-family:            sans-serif;
    color:                  #3333ff;
    float:                  left;
    vertical-align:         middle;
}

#title-price
{
    background-color:       #3366ff;
    border-radius:          5px;
    color:                  #ffffff;
    width:                  7em;
    height:                 1.8em;
    float:                  right;
    text-align:             center;
    line-height:            1.5em;
    vertical-align:         middle;
}

#title-price > span
{
    display:                inline-block;
    vertical-align:         middle;
    line-height:            normal;
}