<div class="root-panel">
    <div class="title" (click)="onClick()">
        <div class="title-name">
            {{article.fProductType}}
        </div>
        <div class="title-price-panel">
            €{{article.fPrice}} / {{article.fPriceUnit}}
        </div>
    </div>
    <div class="photo" (click)="onClick()">
      <app-tproduct-photo-frame [fUrlPhoto]="article.fURLPhotoThumb"></app-tproduct-photo-frame>
    </div>
    <hr class="divider" (click)="onClick()"/>
    <div class="nav">
        <div class="nav-click-target" (click)="onClick()">&nbsp;</div>
        <div class="nav-details"><app-tview-details-button [fArticleID]="article.fID"></app-tview-details-button></div>
        <div class="nav-add-to-cart"><app-tadd-to-cart-button [fArticleID]="article.fID"></app-tadd-to-cart-button></div>
    </div>
</div>

<!--
article.
    fDetailName:    string;     // e.g. "Bluegold"
    fID:            string;     // uid
    fProductType:   string;     // e.g. "Blueberries"
    fPrice:         string;     // money, money, money... must be funny...
    fPriceUnit:     string;     // e.g. "per lb"
    fOriginCountry: string;     // e.g. "USA"
    fURLPhotoThumb: string;     // Thumbnail
    fURLPhoto:      string;     // Large photo
 -->

