/* TODO: get image to
             - have no more than 80% of parent's height
             - automatically center in parent, vertically and horizontally, without hard coded margins. */

.root-panel
{
    position:               relative;
    border:                 1px solid #aaaaaa;
    border-radius:          10px;
    box-shadow:             0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:                 100%;
    width:                  100%;
}

.photo
{
    height:                 100%;
    max-width:              100%;
    border-radius:          10px;
}
