#root
{
    display:            flex; 
    flex-direction:     column; 
    height:             calc(100vh - 20px);
}

#root-a
{
    flex:               0 0 50px; 
    display:            flex; 
    flex-direction:     row; 
    justify-content:    space-between;
}

#root-b
{
    flex:               0 0 30px; 
    display:            flex; 
    flex-direction:     row; 
    justify-content:    space-between;
}

#root-b > div
{
    margin-top:         5px;
    margin-bottom:      5px;
}

#root-c
{
    display:            flex; 
    flex-wrap:          wrap; 
    justify-content:    flex-start; 
    overflow-y:         auto;
}

#root-c > div
{
    margin:             10px;
}