<div id="root">
	<div id="root-a">
		<div>
		    <app-tlogo></app-tlogo>
		</div>
        <div>
            <app-tgo-cart-button></app-tgo-cart-button>
        </div>
    </div>
    <div><hr/></div>
	<div id="root-b">
	    <div>
			<app-tcategory-box></app-tcategory-box>
	    </div>
        <div>
	        <app-tsearch></app-tsearch>
        </div>
	</div>
	<div><hr/></div>
    <div id="root-c">
	    <!-- FIXME: Product buttons inside block to be left aligned, and
	                whole block of product buttons to be centered in flow panel. -->
	    <div *ngFor="let article of store.getArticles()">
            <app-tproduct-details-panel [article] = "article"></app-tproduct-details-panel>
	    </div>
    </div>
</div>
